*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.iconCart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.iconCart:hover{
    cursor: pointer;
}

img{
    width: 240px;
	height: 240px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.containerIcon{
    position: relative;
}

.countProducts{
    position: absolute;
    top: 38%;
    left: 1px;


    background-color: #049D3B;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.containerCartProducts{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cartProduct{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.infoCartProduct{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.tituloProductoCarrito{
    font-size: 20px;
}

.precioProductoCarrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidadProductoCarrito{
    font-weight: 400;
    font-size: 20px;
    margin-right: 10px;
}

.iconClose{
    width: 25px;
    height: 25px;
}

.iconClose:hover{
    stroke: red;
    cursor: pointer;
}

.cartTotal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cartTotal h3{
    font-size: 20px;
    font-weight: 700;
}

.totalPagar{
    font-size: 20px;
    font-weight: 900;
}

.hiddenCart{
    display: none;
}

.cartEmpty{
    padding: 20px;
    text-align: center;
}
.btnClearAll {
    border: none;
    background-color: #1ED760;
    color: #fff;
    padding: 15px 0;
    display: block;
    width: 100%;
    margin-top: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s ease;
    text-align: center; /* Agregado para centrar el texto */
}

.btnClearAll:hover {
    background-color: #333;
}
